@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<nav>
    <h1>
        Välkommen till vår kattsida
    </h1>
    <ul class="nav">
        <li >
            <a class="link" href="/">Home</a>
        </li>
        <li>
            <a class="link" href="cat-facts">Cat fact</a>
        </li>
    </ul>
</nav>